body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}
#videoElement {
  width: auto;
  height: 100%;
  background-color: #fff;
  margin: auto;
  display: block;
}

.main_con_a01 {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
}

.ss_mm_01 {
  height: 265px;
  width: 400px;
  background-color: #fff;
  box-shadow: -3px 3px 40px rgb(0 0 0 / 15%);
  border-radius: 8px;
}

.lll_uu_ss_01 {
  height: 50px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: nowrap;
  font-size: 22px;
  font-family: "font";
  border-radius: 6px;
  border: none;
  background-color: #990033;
  color: #fff;
  margin: 25px auto 0 auto;
}

.lll_uu_ss_01:before {
  content: url(https://skiplhagames.com/assets/images/sss_iii_aa.svg);
  display: block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 6px;
  background-color: #fff;
}

.mm_tt_aera {
  height: 140px;
  width: 350px;
  margin: 20px auto 0 auto;
}

.hh_01 {
  margin: 0 auto 0 auto;
  height: 35px;
  width: 240px;
  display: flex;
  color: #2b044d;
  font-family: sans-serif;
}

.pp_01 {
  width: 320px;
  height: 75px;
  display: flex;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;
  margin: 25px auto 0 auto;
  color: #707b8e;
}

.bb_aa_01 {
  display: contents;
  font-size: 18px;
}

.ss_mm_02 {
  height: 280px;
  width: 400px;
  background-color: #fff;
  box-shadow: -3px 3px 40px rgb(0 0 0 / 15%);
  border-radius: 8px;
  margin-top: 10px;
}

#form_createad_existing_account_login {
  height: 180px;
  width: 360px;
  margin: 20px auto auto;
}

#input_account_email {
  height: 25px;
  width: 300px;
  margin: 10px auto 20px auto;
  outline: none;
  background: #fff;
  display: block;
  border: 1px solid #ccc;
  font-family: sans-serif;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  padding: 0.5rem;
}

#input_account_password {
  height: 25px;
  width: 300px;
  margin: 10px auto 20px auto;
  outline: none;
  background: #fff;
  display: block;
  border: 1px solid #ccc;
  font-family: sans-serif;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  padding: 0.5rem;
}

#submit_createad_account_login {
  height: 43px;
  width: 318px;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: #2ba6cb;
  border-color: #2285a2;
  color: #fff;
  margin: 10px auto 0 auto;
  font-size: 18px;
  font-family: sans-serif;
  display: block;
  border-radius: 4px;
}

.hhh_003 {
  width: 315px;
  height: 30px;
  color: #222222;
  margin: 25px auto 10px auto;
  font-family: sans-serif;
  font-size: 25px;
  display: block;
}

#ss_02 {
  display: none;
}

.hh_cc_02 {
  height: 30px;
  width: 316px;
  color: #fff;
  margin: 0 0 30px 0;
  font-family: sans-serif;
  font-size: 30px;
}

#error {
  display: none;
  width: 300px;
  margin: 0 auto 0 auto;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #903;
  color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-rendering: optimizeLegibility;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  outline: none;
}

#error_02 {
  display: none;
  width: 300px;
  margin: 0 auto 0 auto;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #903;
  color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-rendering: optimizeLegibility;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  outline: none;
}

#lll_ccc_main {
  height: 400px;
  width: 250px;
  border-radius: 6px;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.img_mm_01 {
  height: 80px;
  width: 80px;
  margin: 18px auto 0 auto;
  display: block;
  border-radius: 50%;
}

.ppp_tt_aa_01 {
  margin: 20px auto 0 auto;
  display: block;
  width: fit-content;
  height: 20px;
  font-family: sans-serif;
  font-size: 22px;
  position: absolute;
  top: 10px;
  color: #fff;
}

.ppp_tt_aa_02 {
  margin: 10px auto 0 auto;
  display: block;
  width: fit-content;
  height: 20px;
  font-family: sans-serif;
  font-size: 22px;
  position: absolute;
  top: 60px;
  color: #fff;
}

.rrr_aa_01 {
  height: 40px;
  width: 100%;
  margin: 20px auto 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  bottom: 20px;
}

.ree_01 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #008000b0;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.ree_01:before {
  content: url(https://skiplhagames.com/assets/images/outgoing-call.svg);
  display: block;
  height: 25px;
  width: 25px;
}

.ree_02 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #f70202a8;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: 50%;
}

.ree_02:before {
  content: url(https://skiplhagames.com/assets/images/incoming-call.svg);
  display: block;
  height: 17px;
  width: 25px;
}

#hh_ww_hh_01 {
  display: none;
}

#ss_01 {
  display: none;
}

.pp_cc_ttt_01 {
  height: 45px;
  width: 320px;
  margin: 0 auto 15px auto;
  font-family: system-ui;
  font-size: 15px;
}

#eee_02 {
  display: none;
}
